/* PAGE 3 - FEATURES*/
/* Wrapper makes the whole card clickable */
.card-link-wrapper {
    text-decoration: none;
}

/* Main card appearance */
.feature-card {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    transition: background 0.3s ease, transform 0.2s ease;
    padding: 1rem;
    height: 100%;
}

/* Hover pastel gradient animation */
.feature-card:hover {
    background: linear-gradient(#44449e, #1a1a5c) padding-box,
        linear-gradient(
                280deg,
                #7953cd,
                #00affa,
                #0190cd,
                #7953cd,
                #00affa,
                #0190cd,
                #7953cd,
                #00affa
            )
            border-box;
    background-size: 400% 400%;
    animation: rainbow 1s linear infinite alternate;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* Title style */
.feature-card .card-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

/* Description style */
.feature-card .card-text {
    font-size: 1rem;
    font-weight: 300;
    /* color: rgba(255, 255, 255, 0.85); */
}

.modal_title {
    text-align: center;
}
